      <div class="message clearfix">
        <%= image_tag "cat1.png" %>
        <div class="message_box">
          <p class="user_name">
           <%= tweet.nickname %>
          </p>
          <p class="text">
            <%= tweet.text %>
          </p>
        </div>
      </div>