 <header>
   <h1>ねこったー</h1>
 </header>
    
<div class="edit">
<p class="contents4">
 <%=form_tag("/tweets/#{@tweet.id}", method: :patch) do %>
     <input type="text" name="name" value="<%= @tweet.name %>" placeholder="name" autofocus="true">
    <textarea name="text" placeholder="text" rows="8" cols="30"><%= @tweet.text %></textarea>
</p>
<input type="submit" class="kami" value="編集">
  <% end %>
 </div>