/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.show{
  font-size: 20px;
  height: 100px;
  width: 600px;
  margin: 5px auto 0;
  background-color: #FBFBF1;
}

.show2{
text-align: center;
}

.edit{
  font-size: 20px;
  height: 270px;
  width: 600px;
  margin: 0px auto;
  background-color: #FBFBF1;
}

.row5{
  font-size: 20px;
  height: 60px;
  width: 570px;
  margin-left: 30px;
  background-color: #FBFBF1;
}

.row6{
  font-size: 20px;
  height: 100px;
  width: 570px;
  margin: 20px 0 0 30px;
  background-color: #FBFBF1;
}

.row7{
text-align: center;
margin: 0 auto 15px;
  background-color: #FBFBF1;
}

.contents{
  background-color: #FBFBF1;
}

.contents2{
  width:270px;
  height: 30px;
  margin: 0 auto;
  padding: 3px;
  border:none;
  text-align: center;
  
}

.contents3{
  width:70px;
  margin: 15px auto;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  background-color: #F8FAAB;
}

.message_btn{
  display: inline;
  margin-top: 30px;
  padding: 2px;
  color:blue;
  width:35px;
  height:25px;
  border: 1px solid #bbb;
  background-color: #ADEE9B;  
  border-radius: 4px;
  
}


.button-box{
  float: right;
  height: 70px;
}
