/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
  height: 100%;
}

.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

header{
  height: 46px;
  background-color: #FAF9BF;
  /*border-bottom: 2px solid #bbb;*/
}

h1, h2, h3, p, body {
  width:600px;
  font-size: 14px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 2px auto;
  padding: 0;
}

h1{
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  text-align: center;
  background-color: #FAF9BF;
}

h2{
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
}

.message clearfix{
  background-color: #FAF9BF;
  height: 200px;
}

form img{/*猫の画像 editのみ影響か?*/
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;
  height: 50px;
  margin: 0 5px 5px 34px;
}

form textarea{/*new editの入力ボックス*/
  width: 500px;
  border: 1px solid #ccc;
}

div{
  background-color: #FAF9BF;  
}

.contents{
  height: 200px;
  width: 600px;
  margin: 5px auto 0;
  background-color: #FAF9BF;
  }
  
.contents2{
  width:270px;
  height: 30px;
  margin: 0 auto;
  padding: 3px;
  border:none;
  background-color: #FAF9BF;
  text-align: center;
}

.contents3{
  width:70px;
  margin: 20px auto 0;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  background-color: #ADEE9B;
  text-decoration: none;
}