form{/*editの名前・テキストボックス、編集ボタン全体の枠*/
  width: 600px;
  height: 250px;
  background-color: #FAF9BF;
  padding: 5px 0 0;
}

.edit{
  font-size: 20px;
  height: 170px;
  width: 600px;
  margin: 0 auto;
  background-color: #FAF9BF;
}

.row5{
  font-size: 15px;
  height: 60px;
  width: 570px;
  margin-left: 30px;
  background-color:#FAF9BF;
}

.row6{
  font-size: 15px;
  height: 200px;
  width: 566px;
  margin: -5px 0 0 35px;
  background-color: #FAF9BF;
}

#tweet_text{
  height: 100px;
}

.contents4{
  width:70px;
  margin: -32px auto 0;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  background-color: #ADEE9B;
  text-decoration: none;
}

.kami{/*編集のボタン*/
    width:70px;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  background-color: #ADEE9B;
  text-decoration: none;
  margin: 0 0 5px 280px;
}

input{/*editの名前ボックス*/
   margin: 38px 0 5px 12px;
}

textarea{/*editのコメントボックス*/
   margin-top: 0;
    margin-left: 75px;
}

.cat2{
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}