form{
  width: 600px;
  background-color: #FBFBF1;
  padding: 5px 0 0;
}




.edit{
  font-size: 20px;
  height: 270px;
  width: 600px;
  margin: 0px auto;
  background-color: #FBFBF1;
}

.row5{
  font-size: 20px;
  height: 60px;
  width: 570px;
  margin-left: 30px;
  background-color: #FBFBF1;
}

.row6{
  font-size: 20px;
  height: 100px;
  width: 570px;
  margin: 20px 0 0 30px;
  background-color: #FBFBF1;
}

.row7{
text-align: center;
margin: 0 auto 15px;
  background-color: #FBFBF1;
}
