.input-box{
  float: left;
  width: 500px;
}



.message{
  min-height: 100px;
  width: 598px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: none;
}

.message img{
  border: 2px solid #ccc;
  border-radius: 5px;
  float: left;
  height: 48px;
  margin: 10px;
}

.message_box{
  float: left;
  height: 96px;
  width: 505px;
  padding: 0;
  margin-left:50px;
  background-color:white;
}

.user_name{
  font-weight: bold;
  line-height: 18px;
  margin-top:-38px;
  padding: 3px;
  margin-left:5px;
  background-color:white;
  width:200px;
}

.text{
  width:500px;
  line-height: 68px;
}

.time{
  color: #bbb;
}


.btn1{
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  color:blue;
  width:45px;
  height:25px;
  border: 1px solid #bbb;
  background-color: #ADEE9B;  
  border-radius: 4px;
  margin: 2px 15px 0 300px;
}

.btn2{
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  color:blue;
  width:45px;
  height:25px;
  border: 1px solid #bbb;
  background-color: #ADEE9B;  
  border-radius: 4px;
  margin: 0 15px 0 0px;
  
}

.btn3{
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  color:blue;
  width:45px;
  height:25px;
  border: 1px solid #bbb;
  background-color: #ADEE9B;  
  border-radius: 4px;
  margin: 0 15px 0 0px;
  }

.clearfix {
  background-color: #FAF9BF;
  border:1px solid #ACB7BB;
}

.clearfix_new {
  background-color: #FAF9BF;
  border: none;
}



.message_btn{
  height:34px;
  padding:2px;
}

img{/*index猫の画像*/
  border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2px 2px 0 2px; 
} 