.show0{/*showのつぶやきの全スペース*/
  height: 190px;
}

.cat {/*showの猫の画像*/
  float: left;
  height: 48px;
  margin: 0 2px 0px 20px;
  margin-left: 30px;
}

.row8{/*showの名前ボックスのみ*/
  border: 1px solid #ccc;
  background-color: #FFF;
  width:200px;
  text-align: left;
  margin-left: 100px;
  
}

.row9{/*showのテキストボックスのみ*/
  border: 1px solid #ccc;
  background-color: #FFF;
  width:400px;
  height: 100px;
  text-align: left;
  margin-left: 100px;
  
}